@{
    ViewData["Title"] = "Home Page";

}

@using StreamTrace.Repository;
@using StreamTrace.DTO;
@inject IContentRepository contentRepository;
@{
    var content = await contentRepository.GetFullDetail(14);
    var content2 = await contentRepository.GetFullDetail(15);
    var content3 = await contentRepository.GetFullDetail(16);
    //    var topFilms = await contentRepository.GetContentHighestViewCount();
    var topMovie = await contentRepository.GetContentHighestViewCount("movie");
    var topMusic = await contentRepository.GetContentHighestViewCount("music");
    var topTvShow = await contentRepository.GetContentHighestViewCount("tvshow");

}

<section class="pt-0 pb-0">
    <div class="container-fluid px-0">

        <div class="row no-gutters">
            @await Component.InvokeAsync("Content2", new { item = content });
        </div>
    </div>


</section>
<!-- owl-carousel Banner End -->
<!-- owl-carousel Videos Section-1 Start -->
<section class="gen-section-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <h4 class="gen-heading-title">Top films</h4>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
                <div class="gen-movie-action">
                    <div class="gen-btn-container text-right">
                        <a href="tv-shows-pagination.html" class="gen-button gen-button-flat">
                            <span class="text">More Videos</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="gen-style-2">
                    <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true" data-desk_num="4"
                         data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="false"
                         data-loop="false" data-margin="30">
                        <!-- <div class="item"> -->
                        @foreach (var movie in topMovie)
                        {
                            <div class="item">
                                <div class="movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-adventure movie_genre-drama">
                                    @await Component.InvokeAsync("ContentItem", new { item =  movie })
                                </div>
                                <!-- #post-## -->
                            </div>

                        }





<<<<<<< HEAD
=======
    </section>
    <!-- owl-carousel Banner End -->
    <!-- owl-carousel Videos Section-1 Start -->
    <section class="gen-section-padding-2">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <h4 class="gen-heading-title">Movies</h4>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
                    <div class="gen-movie-action">
                        <div class="gen-btn-container text-right">
                            <a href="./MoviesAll" class="gen-button gen-button-flat">
                                <span class="text">More Videos</span>
                            </a>
                        </div>
>>>>>>> Layout_check
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- owl-carousel Videos Section-1 End -->
<!-- owl-carousel Videos Section-2 Start -->
<section class="pt-0 gen-section-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <h4 class="gen-heading-title">Top Regional Shows</h4>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
                <div class="gen-movie-action">
                    <div class="gen-btn-container text-right">
                        <a href="tv-shows-pagination.html" class="gen-button gen-button-flat">
                            <span class="text">More Videos</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="gen-style-2">
                    <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true" data-desk_num="4"
                         data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="false"
                         data-loop="false" data-margin="30">


                       
                                @foreach (var tvshow in topTvShow)
                                { <div class="item">
                            <div class="movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-sci-fi movie_tag-brother movie_tag-king movie_tag-premieres movie_tag-viking">
                                    <div class="item">
                                        <div class="movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-adventure movie_genre-drama">
                                            @await Component.InvokeAsync("ContentItem", new { item =  tvshow })
                                        </div>
                                        <!-- #post-## -->
                                    </div>
                                </div>
                                <!-- #post-## -->
                            </div>

                                }
                           



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- owl-carousel Videos Section-2 End -->
<!-- Slick Slider start -->
<section class="gen-section-padding-2 pt-0 pb-0">
    <div class="container">
        <div class="home-singal-silder">
            <div class="gen-nav-movies gen-banner-movies">
                <div class="row">
                    <div class="row no-gutters">
                        @await Component.InvokeAsync("Content2", new { item = content2 });
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Slick Slider End -->
<!-- owl-carousel Videos Section-3 Start -->
<section class="gen-section-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <h4 class="gen-heading-title">Watch For Free: Movie Mania</h4>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
                <div class="gen-movie-action">
                    <div class="gen-btn-container text-right">
                        <a href="tv-shows-pagination.html" class="gen-button gen-button-flat">
                            <span class="text">More Videos</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="gen-style-2">
                    <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true" data-desk_num="4"
                         data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="false"
                         data-loop="false" data-margin="30">

                       
                                @foreach (var music in topMusic)
                                { <div class="item">
                           <div class="movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-adventure movie_tag-brother movie_tag-king movie_tag-premieres movie_tag-viking">
                                    <div class="item">
                                        <div class="movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-adventure movie_genre-drama">
                                            @await Component.InvokeAsync("ContentItem", new { item =  music })
                                        </div>
                                        <!-- #post-## -->
                                    </div>
                                </div>
                                <!-- #post-## -->
                            </div>

                                }
                           

                    </div>
                </div>
            </div>
        </div>
<<<<<<< HEAD
    </div>
</section>
<!-- owl-carousel Videos Section-3 End -->
<!-- owl-carousel images Start -->
<section class="pt-0 gen-section-padding-2 home-singal-silder">
    <div class="container">
        <div class="row">
            <div class="row no-gutters">

                

                @await Component.InvokeAsync("Content2", new { item = content3 })

            </div>
        </div>
    </div>
</section>
<!-- owl-carousel images End -->
<!-- owl-carousel Videos Section-4 Start -->
<section class="pt-0 gen-section-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <h4 class="gen-heading-title">All Time Hits</h4>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
                <div class="gen-movie-action">
                    <div class="gen-btn-container text-right">
                        <!-- đổ dữ liệu ra đây -->
                        <a href="tv-shows-pagination.html" class="gen-button gen-button-flat">
                            <span class="text">More Videos</span>
                        </a>
=======
    </section>
    <!-- owl-carousel Videos Section-1 End -->
    <!-- owl-carousel Videos Section-2 Start -->
    <section class="pt-0 gen-section-padding-2">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <h4 class="gen-heading-title">TV Shows</h4>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
                    <div class="gen-movie-action">
                        <div class="gen-btn-container text-right">
                            <a href="./TvshowsAll" class="gen-button gen-button-flat">
                                <span class="text">More Videos</span>
                            </a>
                        </div>
>>>>>>> Layout_check
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="gen-style-2">
                    <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true" data-desk_num="4"
                         data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="false"
                         data-loop="false" data-margin="30">

                        <div class="item">
                            <div class="movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-sci-fi movie_tag-brother movie_tag-king movie_tag-premieres movie_tag-viking">
                                <div class="gen-carousel-movies-style-2 movie-grid style-2">
                                    <div class="gen-movie-contain">
                                        <div class="gen-movie-img">
                                            <!-- đổ dữ liệu ra đây -->
                                            <img src="~/images/background/asset-34.jpg" alt="owl-carousel-video-image">
                                            <div class="gen-movie-add">
                                                <div class="wpulike wpulike-heart">
                                                    <div class="wp_ulike_general_class wp_ulike_is_not_liked">
                                                        <button type="button" class="wp_ulike_btn wp_ulike_put_image"></button>
                                                    </div>
                                                </div>
                                                <ul class="menu bottomRight">
                                                    <li class="share top">
                                                        <i class="fa fa-share-alt"></i>
                                                        <ul class="submenu">
                                                            <!-- đổ dữ liệu ra đây -->
                                                            <li>
                                                                <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="facebook"><i class="fab fa-instagram"></i></a>
                                                            </li>
                                                            <li><a href="#" class="facebook"><i class="fab fa-twitter"></i></a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                                <div class="movie-actions--link_add-to-playlist dropdown">
                                                    <!-- đổ dữ liệu ra đây -->
                                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                    <div class="dropdown-menu mCustomScrollbar">
                                                        <div class="mCustomScrollBox">
                                                            <div class="mCSB_container">
                                                                <a class="login-link" href="register.html">
                                                                    Sign in to add this movie
                                                                    to a
                                                                    playlist.
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
<<<<<<< HEAD
                                            <div class="gen-movie-action">
                                                <!-- đổ dữ liệu ra đây -->
                                                <a href="single-movie.html" class="gen-button">
                                                    <i class="fa fa-play"></i>
                                                </a>
=======
                                        </div>
                                    </div>
                                </div>

                                <div class="slider-item" style="background: url(/images/background/asset-1.jpg)">
                                <div class="gen-slick-slider h-100">
                                    <div class="gen-movie-contain h-100">
                                        <div class="container h-100">
                                            <div class="row align-items-center h-100">
                                                <div class="col-lg-6">
                                                    <div class="gen-movie-info">
                                                        <h3>thieve the bank</h3>
                                                        <p>
                                                            Streamlab is a long established fact that a reader will be distracted by
                                                            the readable content of a page when Streamlab at its layout Streamlab.
                                                        </p>

                                                    </div>
                                                    <div class="gen-movie-action">
                                                        <div class="gen-btn-container button-1">
                                                            <a class="gen-button" href="#" tabindex="0">
                                                                <i aria-hidden="true" class="ion ion-play"></i>
                                                                <span class="text">Play Now</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <div class="slider-item" style="background: url(/images/background/asset-1.jpg)">
                                <div class="gen-slick-slider h-100">
                                    <div class="gen-movie-contain h-100">
                                        <div class="container h-100">
                                            <div class="row align-items-center h-100">
                                                <div class="col-lg-6">
                                                    <div class="gen-movie-info">
                                                        <h3>thieve the bank</h3>
                                                        <p>
                                                            Streamlab is a long established fact that a reader will be distracted by
                                                            the readable content of a page when Streamlab at its layout Streamlab.
                                                        </p>

                                                    </div>
                                                    <div class="gen-movie-action">
                                                        <div class="gen-btn-container button-1">
                                                            <a class="gen-button" href="#" tabindex="0">
                                                                <i aria-hidden="true" class="ion ion-play"></i>
                                                                <span class="text">Play Now</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <div class="slider-item" style="background: url(/images/background/asset-1.jpg)">
                                <div class="gen-slick-slider h-100">
                                    <div class="gen-movie-contain h-100">
                                        <div class="container h-100">
                                            <div class="row align-items-center h-100">
                                                <div class="col-lg-6">
                                                    <div class="gen-movie-info">
                                                        <h3>thieve the bank</h3>
                                                        <p>
                                                            Streamlab is a long established fact that a reader will be distracted by
                                                            the readable content of a page when Streamlab at its layout Streamlab.
                                                        </p>

                                                    </div>
                                                    <div class="gen-movie-action">
                                                        <div class="gen-btn-container button-1">
                                                            <a class="gen-button" href="#" tabindex="0">
                                                                <i aria-hidden="true" class="ion ion-play"></i>
                                                                <span class="text">Play Now</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <!-- Slider Items -->
                            </div>

                            <div class="slider slider-nav">
                                <!-- Slider Items -->
                                <div class="slider-nav-contain">
                                    <div class="gen-nav-img">
                                        <img src="~/images/background/asset-4.jpg" alt="steamlab-image">
                                    </div>
                                    <div class="movie-info">
                                        <h3>thieve the bank</h3>
                                        <div class="gen-movie-meta-holder">
                                            <ul>
                                                <li>30mins</li>
                                                <li>
                                                    <a href="action.html">
                                                        Action
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="slider-nav-contain">
                                    <div class="gen-nav-img">
                                        <img src="~/images/background/asset-4.jpg" alt="steamlab-image">
                                    </div>
                                    <div class="movie-info">
                                        <h3>thieve the bank</h3>
                                        <div class="gen-movie-meta-holder">
                                            <ul>
                                                <li>30mins</li>
                                                <li>
                                                    <a href="action.html">
                                                        Action
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="slider-nav-contain">
                                    <div class="gen-nav-img">
                                        <img src="~/images/background/asset-4.jpg" alt="steamlab-image">
                                    </div>
                                    <div class="movie-info">
                                        <h3>thieve the bank</h3>
                                        <div class="gen-movie-meta-holder">
                                            <ul>
                                                <li>30mins</li>
                                                <li>
                                                    <a href="action.html">
                                                        Action
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="slider-nav-contain">
                                    <div class="gen-nav-img">
                                        <img src="~/images/background/asset-4.jpg" alt="steamlab-image">
                                    </div>
                                    <div class="movie-info">
                                        <h3>thieve the bank</h3>
                                        <div class="gen-movie-meta-holder">
                                            <ul>
                                                <li>30mins</li>
                                                <li>
                                                    <a href="action.html">
                                                        Action
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            <!-- Slider Items -->
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Slick Slider End -->
    
    <!-- owl-carousel Videos Section-3 Start -->
    <section class="gen-section-padding-2">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <h4 class="gen-heading-title">Watch For Free</h4>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
                    <div class="gen-movie-action">
                        <div class="gen-btn-container text-right">
                            <a href="#" class="gen-button gen-button-flat">
                                <span class="text">More Videos</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="gen-style-2">
                        <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true" data-desk_num="4"
                             data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="false"
                             data-loop="false" data-margin="30">

                            <div class="item">
                                <div class="movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-adventure movie_tag-brother movie_tag-king movie_tag-premieres movie_tag-viking">
                                    <div class="gen-carousel-movies-style-2 movie-grid style-2">
                                        <div class="gen-movie-contain">
                                            <div class="gen-movie-img">
                                                <!-- đổ dữ liệu ra đây -->
                                                <img src="~/images/background/asset-28.jpg" alt="owl-carousel-video-images">
                                                <div class="gen-movie-add">
                                                    <div class="movie-actions--link_add-to-playlist dropdown">
                                                        <a class="dropdown-toggle" href="#"><i class="fa fa-plus"></i></a>
                                                        <div class="dropdown-menu">
                                                            <!-- đổ dữ liệu ra đây -->
                                                            <a class="login-link" href="register">
                                                                Sign
                                                                in to add this movie to a playlist.
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="wpulike wpulike-heart">
                                                        <div class="wp_ulike_general_class wp_ulike_is_not_liked">
                                                            <button type="button" aria-label="Like Button"
                                                                    class="wp_ulike_btn wp_ulike_put_image">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <ul class="menu bottomRight">
                                                        <li class="share top">
                                                            <i class="fa fa-share-alt"></i>
                                                            <ul class="submenu">
                                                                <!-- đổ dữ liệu ra đây -->
                                                                <li>
                                                                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="facebook"><i class="fab fa-instagram"></i></a>
                                                                </li>
                                                                <li><a href="#" class="facebook"><i class="fab fa-twitter"></i></a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="gen-movie-action">
                                                    <!-- đổ dữ liệu ra đây -->
                                                    <a href="#" class="gen-button">
                                                        <i class="fa fa-play"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="gen-info-contain">
                                                <div class="gen-movie-info">
                                                    <!-- đổ dữ liệu ra đây -->
                                                    <h3><a href="#">Chapter & Verse</a></h3>
                                                </div>
                                                <div class="gen-movie-meta-holder">
                                                    <ul>
                                                        <!-- đổ dữ liệu ra đây -->
                                                        <li>1hr 37 mins</li>
                                                        <li>
                                                            <!-- đổ dữ liệu ra đây -->
                                                            <a href="#"><span>Action</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
>>>>>>> Layout_check
                                            </div>
                                        </div>
                                        <div class="gen-info-contain">
                                            <!-- đổ dữ liệu ra đây -->
                                            <div class="gen-movie-info">
                                                <h3>
                                                    <a href="single-movie.html">bad genius</a>
                                                </h3>
                                            </div>
                                            <div class="gen-movie-meta-holder">
                                                <ul>
                                                    <!-- đổ dữ liệu ra đây -->
                                                    <li>2hr 10mins</li>
                                                    <li>
                                                        <!-- đổ dữ liệu ra đây -->
                                                        <a href="action.html"><span>Action</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
<<<<<<< HEAD
                            <!-- #post-## -->
=======
                        <div class="item" style="background: url(/images/background/asset-37.jpg)">
                            <div class="gen-movie-contain h-100">
                                <div class="container  h-100">
                                    <div class="row align-items-center h-100">
                                        <div class="col-xl-6">
                                            <div class="gen-movie-info">
                                                <!-- đổ dữ liệu ra đây -->
                                                <h3>Against Beast</h3>
                                            </div>
                                            <div class="gen-movie-meta-holder">
                                                <ul>
                                                    <!-- đổ dữ liệu ra đây -->
                                                    <li>1 Season</li>
                                                    <li>1 Episode</li>
                                                    <li>2017 to 2018</li>
                                                    <li>
                                                        <!-- đổ dữ liệu ra đây -->
                                                        <a href="#"><span>Drama</span></a>
                                                    </li>
                                                </ul>
                                                <p>
                                                    Streamlab is a long established fact that a reader will be distracted by the
                                                    readable content of a page when Streamlab at its layout Streamlab.
                                                </p>
                                            </div>
                                            <div class="gen-movie-action">
                                                <div class="gen-btn-container button-1">

                                                    <!-- đổ dữ liệu ra đây -->
                                                    <a href="single-episode.html" class="gen-button gen-button-dark">
                                                        <span class="text">Play now</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item" style="background: url(/images/background/asset-37.jpg)">
                                <div class="gen-movie-contain h-100">
                                    <div class="container  h-100">
                                        <div class="row align-items-center h-100">
                                            <div class="col-xl-6">
                                                <div class="gen-movie-info">
                                                    <!-- đổ dữ liệu ra đây -->
                                                    <h3>Against Beast</h3>
                                                </div>
                                                <div class="gen-movie-meta-holder">
                                                    <ul>
                                                        <!-- đổ dữ liệu ra đây -->
                                                        <li>1 Season</li>
                                                        <li>1 Episode</li>
                                                        <li>2017 to 2018</li>
                                                        <li>
                                                            <!-- đổ dữ liệu ra đây -->
                                                            <a href="#"><span>Drama</span></a>
                                                        </li>
                                                    </ul>
                                                    <p>
                                                        Streamlab is a long established fact that a reader will be distracted by the
                                                        readable content of a page when Streamlab at its layout Streamlab.
                                                    </p>
                                                </div>
                                                <div class="gen-movie-action">
                                                    <div class="gen-btn-container button-1">

                                                        <!-- đổ dữ liệu ra đây -->
                                                        <a href="single-episode.html" class="gen-button gen-button-dark">
                                                            <span class="text">Play now</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
>>>>>>> Layout_check
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- owl-carousel Videos Section-4 End -->
<!-- Back-to-Top start -->
<div id="back-to-top">
    <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
</div>
<!-- Back-to-Top end -->
