@using StreamTrace.Repository;
@inject IContentRepository contentRepository;
@{
    ViewData["Title"] = "MusicHome";
    Layout = "~/Views/Shared/_LayoutWEB.cshtml";
    var content1 = await contentRepository.GetFullDetail(17);
    var content2 = await contentRepository.GetFullDetail(18);
    var content3 = await contentRepository.GetFullDetail(19);
    var content4 = await contentRepository.GetFullDetail(20);
    var topMusic = await contentRepository.GetContentHighestViewCount("music");
    var allMusic = await contentRepository.FilterAsync(null, r => r.Type.Equals("music"), "Id", false, 1, 100);
    var topTvshow = await contentRepository.GetContentHighestViewCount("tvshows");
    var topMovie = await contentRepository.GetContentHighestViewCount("movie");
}



    <!-- owl-carousel Banner Start -->
    <section class="pt-0 pb-0">
        <div class="container-fluid px-0">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="gen-banner-movies">
                        <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true"
                             data-desk_num="1" data-lap_num="1" data-tab_num="1" data-mob_num="1" data-mob_sm="1"
                             data-autoplay="true" data-loop="true" data-margin="30">
                            <div class="item" style="background: url('images/background/asset-9.jpg')">
                                <div class="gen-movie-contain h-100">
                                    <div class="container h-100">
                                        <div class="row align-items-center h-100">
                                            <div class="col-xl-6">
                                                <div class="gen-tag-line"><span></span></div>
                                                <div class="gen-movie-info">
                                                    <h3>Rebuneka the doll</h3>
                                                </div>
                                                <div class="gen-movie-meta-holder">
                                                    <ul>
                                                        <li class="gen-sen-rating">
                                                            <span>
                                                                R
                                                            </span>
                                                        </li>
                                                        <li>1hr 44 mins</li>
                                                        <li>
                                                            <img src="images/asset-2.png" alt="streamlab-image">
                                                            <span>
                                                                0
                                                            </span>
                                                        </li>
                                                        <li>
                                                            2018
                                                        </li>
                                                        <li>
                                                            <a href="action.html"><span>Action</span></a>
                                                        </li>
                                                    </ul>
                                                    <p>
                                                        Streamlab is a long established fact that a reader will be
                                                        distracted by the readable content of a page when Streamlab at
                                                        its layout. The point of using Lorem Streamlab is that it has a
                                                        more-or-less normal distribution of Streamlab as opposed
                                                        Streamlab.
                                                    </p>
                                                </div>
                                                <div class="gen-movie-action">
                                                    <div class="gen-btn-container button-1">
                                                        <a href="single-movie.html" class="gen-button">
                                                            <span class="text">Play Now</span>
                                                        </a>
                                                    </div>
                                                    <div class="gen-btn-container button-2">
                                                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
                                                           class="gen-button popup-youtube popup-vimeo popup-gmaps gen-button-link">
                                                            <i aria-hidden="true" class="ion ion-play"></i> <span class="text">Watch Trailer</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item" style="background: url('images/background/asset-52.jpg')">
                                <div class="gen-movie-contain h-100">
                                    <div class="container h-100">
                                        <div class="row align-items-center h-100">
                                            <div class="col-xl-6">
                                                <div class="gen-tag-line"><span></span></div>
                                                <div class="gen-movie-info">
                                                    <h3>the darkest nightplace</h3>
                                                </div>
                                                <div class="gen-movie-meta-holder">
                                                    <ul>
                                                        <li class="gen-sen-rating">
                                                            <span>
                                                                R
                                                            </span>
                                                        </li>
                                                        <li>1hr 46mins</li>
                                                        <li>
                                                            <img src="images/asset-2.png" alt="streamlab-image">
                                                            <span>
                                                                0
                                                            </span>
                                                        </li>
                                                        <li>
                                                            2017
                                                        </li>
                                                        <li>
                                                            <a href="action.html"><span>Action</span></a>
                                                        </li>
                                                    </ul>
                                                    <p>
                                                        Streamlab is a long established fact that a reader will be
                                                        distracted by the readable content of a page when Streamlab at
                                                        its layout. The point of using Lorem Streamlab is that it has a
                                                        more-or-less normal distribution of Streamlab as opposed
                                                        Streamlab.
                                                    </p>
                                                </div>
                                                <div class="gen-movie-action">
                                                    <div class="gen-btn-container button-1">
                                                        <a href="single-movie.html" class="gen-button">
                                                            <span class="text">Play Now</span>
                                                        </a>
                                                    </div>
                                                    <div class="gen-btn-container button-2">
                                                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
                                                           class="gen-button popup-youtube popup-vimeo popup-gmaps gen-button-link">
                                                            <i aria-hidden="true" class="ion ion-play"></i> <span class="text">Watch Trailer</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item" style="background: url('images/background/asset-24.jpg')">
                                <div class="gen-movie-contain h-100">
                                    <div class="container h-100">
                                        <div class="row align-items-center h-100">
                                            <div class="col-xl-6">
                                                <div class="gen-tag-line"><span></span></div>
                                                <div class="gen-movie-info">
                                                    <h3>The Last Witness</h3>
                                                </div>
                                                <div class="gen-movie-meta-holder">
                                                    <ul>
                                                        <li class="gen-sen-rating">
                                                            <span>
                                                                GP
                                                            </span>
                                                        </li>
                                                        <li>1hr 37 mins</li>
                                                        <li>
                                                            <img src="images/asset-2.png" alt="streamlab-image">
                                                            <span>
                                                                0
                                                            </span>
                                                        </li>
                                                        <li>
                                                            2018
                                                        </li>
                                                        <li>
                                                            <a href="action.html"><span>Action</span></a>
                                                        </li>
                                                    </ul>
                                                    <p>
                                                        Streamlab is a long established fact that a reader will be
                                                        distracted by the readable content of a page when Streamlab at
                                                        its layout Streamlab.
                                                    </p>
                                                </div>
                                                <div class="gen-movie-action">
                                                    <div class="gen-btn-container button-1">
                                                        <a href="single-movie.html" class="gen-button">
                                                            <span class="text">Play Now</span>
                                                        </a>
                                                    </div>
                                                    <div class="gen-btn-container button-2">
                                                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
                                                           class="gen-button popup-youtube popup-vimeo popup-gmaps gen-button-link">
                                                            <i aria-hidden="true" class="ion ion-play"></i> <span class="text">Watch Trailer</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- owl-carousel Banner End -->
    <!-- owl-carousel Videos Section-1 Start -->
    <section class="gen-section-padding-2">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <h4 class="gen-heading-title">Most Popular</h4>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
                    <div class="gen-movie-action">
                        <div class="gen-btn-container text-right">
                            <a href="tv-shows-pagination.html" class="gen-button gen-button-flat">
                                <span class="text">More Videos</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="gen-style-2">
                        <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true"
                             data-desk_num="4" data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1"
                             data-autoplay="false" data-loop="false" data-margin="30">
                        @foreach (var content in allMusic)
                        {
                            @await Component.InvokeAsync("ContentItem", new { item = content })

                        }
                           
                </div>
            </div>
        </div>
    </section>
    <!-- owl-carousel Videos Section-1 End -->
    <!-- owl-carousel Videos Section-2 Start -->
    <section class="pt-0 gen-section-padding-2">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <h4 class="gen-heading-title">Most Viewed</h4>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
                    <div class="gen-movie-action">
                        <div class="gen-btn-container text-right">
                            <a href="tv-shows-pagination.html" class="gen-button gen-button-flat">
                                <span class="text">More Videos</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="gen-style-2">
                        <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true"
                             data-desk_num="4" data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1"
                             data-autoplay="false" data-loop="false" data-margin="30">
                        @foreach (var content in topTvshow)
                        {
                            @await Component.InvokeAsync("ContentItem", new { item = content })
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- owl-carousel Videos Section-2 End -->
    <!-- owl-carousel images Start -->
    <section class="pt-0 pb-0 gen-section-padding-2 home-singal-silder">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="gen-banner-movies">
                        <div class="owl-carousel owl-loaded owl-drag" data-dots="true" data-nav="false"
                             data-desk_num="1" data-lap_num="1" data-tab_num="1" data-mob_num="1" data-mob_sm="1"
                             data-autoplay="true" data-loop="true" data-margin="30">
                            @foreach(var movie in topMovie)
                            {
                                @await Component.InvokeAsync("ContentItem", new { item =  movie })
                                
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- owl-carousel images End -->
    <!-- owl-carousel Videos Section-3 Start -->
    <section class="gen-section-padding-2">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <h4 class="gen-heading-title">Powerful Crime Thrillers</h4>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
                    <div class="gen-movie-action">
                        <div class="gen-btn-container text-right">
                            <a href="tv-shows-pagination.html" class="gen-button gen-button-flat">
                                <span class="text">More Videos</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="gen-style-2">
                        <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true"
                             data-desk_num="4" data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1"
                             data-autoplay="false" data-loop="false" data-margin="30">
                            @foreach (var content in topMusic)
                        {
                            @await Component.InvokeAsync("ContentItem", new { item = content })

                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- owl-carousel Videos Section-3 End -->


