
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>UserName</th>
            <th>FullName</th>
            <th>Phone</th>
            <th>Password</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Id</td>
            <td>UserName</td>
            <td>FullName</td>
            <td>PhoneNumber</td>
            <td>Password</td>
            <td>Email</td>
            <td>
                <div class="d-grid gap-3 d-md-block">
                <li>
                    <a href="javascript:void(0)" class="btn btn-success set-role">SetRole</a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="btn btn-warning cap-nhat">Update</a>
                </li>
                <li>
                <a href="javascript:void(0)" class="btn btn-danger dele-te">Delete</a>
                </li>
                </div>
            </td>
        </tr>
    </tbody>
</table>

